@page "/"

<div class="custom-element">
    @if (ShouldDisplayItems)
    {
        <ul>
            <li class="list-item list-item-1" @onclick="@OnItemClick" tabindex="0">item 1</li>
            <li class="list-item list-item-2" @onfocusout="@OnItemFocusOut" @onclick="@OnItemClick" tabindex="0">item 2</li>
        </ul>
    }
</div>

<div>
    Item visibility: @(ShouldDisplayItems)
</div>

<div>
    <button @onclick="ToggleShouldDisplayItems">Toggle items visibility</button>
</div>

@code {
    public bool ShouldDisplayItems { get; set; } = true;

    public void OnItemClick()
    {
        ShouldDisplayItems = false;
    }

    public void OnItemFocusOut()
    {
        Custom_FocusOut();
    }

    public void ToggleShouldDisplayItems()
    {
        ShouldDisplayItems = !ShouldDisplayItems;
    }

    [JSInvokable(nameof(Index.Custom_FocusOut))]
    public static void Custom_FocusOut()
    {
        Console.WriteLine("focusout called: " + DateTime.Now.ToString());
    }
}

